<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery_1.8.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/CustomScript.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.9.1.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tmpl.min.js")"></script>

    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/ComicStyle.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/jquery-ui-1.9.1.custom.min.css")" />
</head>
    <body>
        <div class="MainContent">
            <nav>
                <dl>
                    <dt>@Html.ActionLink("Want List", "Index", "WantList")</dt>
                    <td>@Html.ActionLink("Search", "Index", "Book")</td>
                </dl>
            </nav>
            @RenderBody()
            <div class="DontFloatOverMe"></div>
        </div>
        
        
        <script id="locationListTemplate" type="text/x-jquery-tmpl">
            <option></option>
            {{each(i, location) Locations}}
            <option value="${location.Id}">${location.Name}</option>
            {{/each}}
        </script>
    </body>
</html>
